{% extends "layout.html" %}
{% block content %}

        <div class="container">
          <div class="row">
            <div class="col s12 m4 l3">
              <div class="row">
                <div class="card-panel white">
                  <a href="{{ url_for('compose') }}" class="waves-effect waves-teal btn-flat">Compose</a></a>
                </div>
                <div class="card-panel white">
                  <span><a href="{{ url_for('spam') }}" class="waves-effect waves-teal btn-flat btn-medium">Spam Mails</a>
                  </span>
                </div>
              </div>
            </div>

            <div class="col s12 m8 l9">
              <blockquote>
                Inbox
              </blockquote>
              <div class="row">
                <div class="col s12 m8 l12">
                  {% for message in messages %}
                    {% if message[0]== current_user.email_id %}
                        <div class="card-panel white">
                          <span class="card-title"> me </span>
                          <div align="right"><h7>{{ message[2] }}</h7></div>
                            <p><h5>{{ message[1] }}</h5></p>

                        </div>
                    {% else %}
                        <div class="card-panel white">
                            <span class="card-title">{{ message[0] }}</span>

                            <div align="right"><h7>{{ message[2] }}</h7></div>

                              <p><h5>{{ message[1] }}</h5></p>

                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
          </div>

{% endblock content %}
