{% extends "layout.html" %}
{% block content %}

<section id="blog-block" class="blog single-post">
	<!-- Main Content start-->
	<div class="container">
		<div class="row">
			<!-- Post Block-->
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">	
				<article>
					<div class="entry-header">	
						<div class="blog-image">
							<div class="post-date">
								<h2>MAKE<span>Requests</span></h2>
							</div>	
							<a href="{{ url_for('car_Registration') }}"><img alt="" src="{{url_for('static', filename='images/makeRequests.jpg')}}" class="img-responsive"></a>
						</div>		
						<br>
						<br>
						<div class="blog-image">
							<div class="post-date">
								<h2>CHECK<span>Requests</span></h2>
							</div>	
							<a href="{{ url_for('statusUser') }}"><img alt="" src="{{url_for('static', filename='images/checkRequests.jpg')}}" class="img-responsive"></a>
						</div>												
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
