{% extends "layout.html" %}
{% block content %}

{% if status == [] %}
<div class = "content-section card"><br>
    <h4> You have no requests. </h4><br>
</div>


{% else %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">

                <div>

                    <div>
                        <h6>Select Invite Status</h6>
                        {{car.user_id}}<br>
                        {{car.car_plate}}<br>
                        {{car.car_regNumber}}<br>
                        {{car.date}}<br>
                        {{car.first}}<br>
                        {{car.middle}}<br>
                        {{car.last}}<br>
                        {{car.state}}<br>
                        {{car.mobile}}<br>
                        {{car.r_status}}<br>
                        {% if form.invite_status.errors %}
                        {{ form.invite_status() }}
                        <div class="invalid-feedback">
                            {% for error in form.invite_status.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>
                            user.
                            {{ form.invite_status() }}
                        </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endif %}
{% endblock content %}
